
  <div class="wrapper">
    <div class="product-img">
      <img src="https://images.pexels.com/photos/3567695/pexels-photo-3567695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="520" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Book Application</h1>
        <br>
        <p>The"Book Info button",you will be able to view all books,delete,add and edit the book. 
           The "User Info button",you will be able to see single user's details by clicking the name</p>
      </div>
      <div class="product-price-btn">
        <button [routerLink]="['/books']" type="button">Book Info</button>
      </div>
      <div class="product-price1-btn">
        <button [routerLink]="['/user']" type="button">User Info</button>
      </div>
    </div>
  </div>

